# folders
__pycache__
\.ipynb_checkpoints
logo
aux
tmp
tests
docs/notebooks/old
seda/synthetic_photometry/filter_transmissions
# files
headaches
docs/notebooks/*.dat
docs/notebooks/*.pickle
docs/notebooks/*.pdf
docs/aux_plots/*.ipynb
seda/synthetic_photometry/FPS_info.xml
